<h3>Search YouTube</h3>
<form data-ng-submit="searchVids()" class="form-inline" role="form">
    <div>
        <input type="text" data-ng-model="searchInput" class="form-control" placeholder="Search">
        <button data-ng-click="searchVids()" class="btn btn-primary active">Go!</button>
    </div>
    <div class="verticalSpacer"></div>
    <div>
        <label>Max results:</label>
        <input type="text" data-ng-model="maxInput" class="form-control" placeholder="0-50" ng-change="youtubeFactory.resultsMax = maxInput; searchVids()">
    </div>
</form>
<div class="verticalSpacer"></div>
<table class="table table-striped table-hover">
    <tr>
        <th>Thumbnail</th>
        <th>Videos</th>
    </tr>
    <tr data-ng-repeat="vid in responseList.items" class="animated fadeIn">
        <td><img src="{{ vid.snippet.thumbnails.medium.url}}" class="vidThumb"></td>
        <td>{{ vid.snippet.title }}</td>
        <td><button data-ng-click="embedPlayer(vid.id.videoId)">Watch Video</button></td>
    </tr>
</table>


<div id="playerPopup" ng-show="showVideoBox">
    <div class="overlay animated fadeIn" ng-click="closeVideo()"></div>
    <div class="videoBox animated fadeIn"></div>
</div>